.theme-dark {
    --background-secondary: none;
    --background-primary: none;
    --background-secondary-alt: none;
    --background-tertiary: none;
    --channeltextarea-background: none
}

:root {
    --status-online: #348;
    --status-idle: #b72;
    --status-dnd: #823;
    --status-streaming: #438;
    --status-invisible: #555
}

@property --status {
    syntax: "<color>";
	initial-value: #111;
	inherits: false
}

.bg-1QIAus {
    background: linear-gradient(to right,#141414,var(--status) 850px);
    transition: --status .5s ease
}

@media (max-width:850px) {
    .bg-1QIAus {
        background: linear-gradient(to right,#141414,var(--status) 100%)
    }
}

.content-1SgpWY>div,.contentRegion-3HkfJJ {
    background: #111!important
}

.contentRegion-3HkfJJ {
    border-radius: 8px 0 0
}

.wordmark-2u86JB>svg>g {
    fill: #eee
}

.expandedFolderBackground-1kSAf6 {
    background: #202025
}

.embedFull-1HGV2S {
    background: #18171a;
    border-left: 4px solid #303235
}

.upload-3GTSF9 {
    background: #111
}

.wrapper-2vIMkT {
    background: #161616
}

.unicodeShortcut-3N8oDe, .inspector-DFKXwB {
	background: #111;
}

.buttons-3dF5Kd,.container-36u7Lw {
    visibility: hidden;
}

.cozy-VmLDNB.wrapper-30-Nkg {
    padding-top: 0;
    padding-bottom: 0
}

.group-spacing-16 .groupStart-3Mlgv1 {
    margin-top: 6px
}

.divider-IqmEqJ {
    margin-bottom: 15px!important
}

.content-2a4AW9 a[href="/store"],.toolbar-3_r2xA a,.wrapper--nA0oy {
    display: none
}

.contentWrapper-3vHNP2 {
    background: #111
}

.contentWrapper-3vHNP2 .emojiPicker-6YCk8a {
	border-radius:0;
}

.container-1SX9VC,.container-2oNtJn,.input-3r5zZY,.scrollableContainer-15eg7h,.searchBar-zdmu7v,.searchBarComponent-3N7dCG {
    background: #18191c!important
}

.quickswitcher-pKcM9U {
    background: #111
}

.input-3r5zZY {
    line-height: initial
}

.container-2ebMPP,.messagesPopoutWrap-3zryHW {
    background: #141414
}

.role-2TIOKu, .header-11eigE {
    background: #111
}

.container-2O1UgZ {
    background: #141414
}

.itemFilled-1cPbtg[aria-checked=true] {
    background: #090909
}

.emojiPickerInExpressionPicker-2nOwH8, .emojiPicker-6YCk8a, .accountProfileCard-lbN7n-,.itemFilled-1cPbtg[aria-checked=false],.preview-38jjUi {
    background: #18191c
}

.popout-1KHNAq {
    background: #111;
    border: 1px solid #fff;
    border-top: 0;
}

.previewMessage-2uxBrA {
    background: #111
}

.panels-3wFtMD {
    box-shadow: 0 1px 4px #090909
}

.container-18GwIk {
    background: #18191c
}

.header-3_zmOb {
    background: #111
}

@media (max-width:935px) {
    .sidebar-1tnWFu {
        width: 49px
    }

    .members-3WRCEx::-webkit-scrollbar,.scroller-WSmht3::-webkit-scrollbar {
        width: 0
    }

    .channel-1Shao0 {
        margin: 0
    }

    .layout-1qmrhw {
        padding-left: 3px;
        margin: 0 5px;
        border-radius: 10px
    }

    .headerText-1qIDDT {
        display: none
    }

    .privateChannelRecipientsInviteButtonIcon-1ObKXK {
        margin: 0
    }

    .privateChannelsHeaderContainer-1UWASm {
        padding: 0;
        justify-content: center;
        align-items: center
    }

    .lowerBadge-3WTshO {
        width: 10px;
        height: 10px
    }

    .lowerBadge-3WTshO>div {
        min-width: 10px;
        max-width: 10px;
        min-height: 10px;
        max-height: 10px;
        font-size: 8px
    }

    .svg-2zuE5p,.wrapper-28eC3z {
        width: 32px;
        height: 32px
    }

    .wrapper-z5ab_q {
        height: 32px
    }

    .guilds-2JjMmN,.listItem-3SmSlK,.wrapper-38slSD {
        width: 48px
    }

    .expandedFolderBackground-1kSAf6 {
        left: 8px;
        width: 32px;
        border-radius: 70px 70px 100px 100px
    }

    .wrapper-38slSD>ul {
        height: auto!important;
        padding-bottom: .1px
    }

    .children-3MeUvj,.iconItem-1EjiK0 {
        display: none!important
    }

    .inner-1ilYF7,.quickswitcher-pKcM9U {
        width: 80vw;
        max-width: 570px
    }

    .styleFixed-2_NfVL {
        margin-left: 190px
    }

    .scroller-3X7KbA>div:nth-child(2):not(.listItem-3SmSlK) {
        margin-bottom: -15px
    }

    .membersWrap-3NUR2t {
        min-width: 48px
    }

    .members-3WRCEx {
        width: 48px
    }

    .membersGroup-2eiWxl {
        height: 30px;
        padding: 10px 5px 0
    }

    .member-2gU6Ar {
        margin: 0
    }

    .contentRegionScroller-2_GT_N::-webkit-scrollbar,.scroller-kQBbkU::-webkit-scrollbar {
        width: 12px
    }

    .contentRegionScroller-2_GT_N::-webkit-scrollbar-track,.scroller-kQBbkU::-webkit-scrollbar-track {
        background: 0 0
    }

    .scroller-1ox3I2::-webkit-scrollbar,.sidebarRegionScroller-FXiQOh::-webkit-scrollbar {
        width: 7px
    }

    .sidebar-nqHbhN {
        width: 145px
    }

    .premiumLabel-V52REm {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .sidebarRegion-1VBisG {
        flex: 0
    }

    .contentColumn-1C7as6,.customColumn-2n-oKU {
        padding-left: 20px;
        min-width: calc(100% - 70px);
        max-width: calc(100% - 70px)
    }
}

@media (max-width:480px) {
    .guilds-2JjMmN,.item-3XjbnG[aria-label="Add friend"],.membersWrap-3NUR2t,.sidebar-1tnWFu,.toolbar-3_r2xA {
        display: none
    }

    .sidebar-nqHbhN {
        width: 90px
    }
}